html {
    font-family: sans-serif;
}

header {
    background-color: #613DC1;
    padding: 15px;
}

header .logo-area {
    color: white;
    display: inline-block;
    width: 20%;
}

header .logo-area a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
header .menu {
    display: inline-block;
    width: 40%
}
header .menuu ul li {
    display: inline-block;
}
header .icon-links {
    display: inline-block;
}
header .icon-links ul li {
    display: inline-block;
}
header .icon-links, .quick-options {
    display: inline-block;
}
header .icon-links, .privacy {
    display: inline-block;
}
header .search-area {
    display: inline-block;
    width: 40%;
}
header .search-area ul li {
    display: inline-block;
}
